.action-button {
    border-radius: 5px;
    background-color: royalblue;
    color: white;
    outline: none;
}

.action-button:hover {
    background-color: royalblue;
}

.action-button:focus {
    background-color: royalblue;
    outline: none;
    color: white;
}

.action-button:active {
    background-color: royalblue;
    outline: none;
    color: white;
}